<div fxLayout="row wrap" style="height: calc(100vh - 64px); padding: 5%;">
 
  <div fxFlex="grow" fxLayout="row" style="height: 20vh;border-color:green; border-radius:20px; border-style:double;">
    <div fxFlex="2 0 30%"  fxFlexAlign="center"  style="text-align:end; font-size: 34px; border-color:blue; border-radius:20px; border-style:double;" >
        MYCONSENT
    </div>
    <div fxFlex="1 0 auto" fxFlexAlign="center"  style="text-align:start; border-color:red; border-radius:10px; border-style:dotted;">
        .com
    </div>
  </div>

  <div fxFlex="grow" fxLayout="row wrap" fxLayoutAlign="center space-around" style=" height: 30vh; border-color: lawngreen; border-style:dotted; border-radius:20px;">
    <mat-label fxFlex="grow" style="text-align:center; font-size:18px; border-color:yellow; border-radius:25px; border-style:dotted;" >Returning Users/ Signup</mat-label>
    <button fxFlex="none" style="border-color:orange; border-style:dotted;" mat-raised-button color="blue">Login (Google)</button>
  </div>

  <div fxFlex="grow" fxLayout="row" fxLayoutAlign="space-around center" style="height: 20vh; border-color:green; border-style:double; border-radius:30px; " >
    <button fxFlex="none" style="border-color:red; border-radius:10px; border-style:dotted;" mat-raised-button color="primary" >Open a Demo</button>
    <button fxFlex="none" style=" border-color: lawngreen; border-style:dotted; border-radius:20px;" mat-raised-button color="warn">Preview App</button>
  </div> 

</div>