
<mat-sidenav-container hasBackdrop="false">     
    <mat-sidenav #leftSidenav position="start" mode="over" fixedInViewport="true" [fixedTopGap]="mobileQuery.matches ? 56 : 64" fxFlex.lt-sm="90%" fxFlex.gt-xs="60%">
        <div [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet" name='leftsidebar'></router-outlet> <!--<span class="loader" *ngIf="loading"></span>-->
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-sidebar-details  [sidenav]="leftSidenav"></app-sidebar-details>
    </mat-sidenav-content>
    <mat-sidenav #rightSidenav position="end" mode="over" opened  fixedInViewport="true" [fixedTopGap]="mobileQuery.matches ? 56 : 64"  [fxFlex]="mobileQuery.matches ? getMobileFlexOptions(): getFlexOptions()"  (mouseenter)="mobileQuery.matches ? null : togglesidenav(true)" (mouseleave)="mobileQuery.matches ? null: togglesidenav(false)">
       <app-sidenav-right-remove-navlist  [sidenav]="leftSidenav" (flexchange)="togglesidenav($event)" [showarrow]="arrow" [mymedia]= "mobileQuery.matches ? true : false"></app-sidenav-right-remove-navlist>
    </mat-sidenav> 
</mat-sidenav-container>