<h1>
	Working status
</h1>

date :08/5/20
<p>
	login at 9.15am
 i tried an dialog pic component
 i clone  ur project..in my system ->profile page flex is not working fineee....
 after tat i try  get partial working output for pic component...
 sir i logout at 6:40pm
</p>


date:09/5/20
<p>
	login at 9:20am ,
	i get output for   settings prompt denied for the dialog pic component.
    after check the  audio component->it will makes an issue......
    totally collapsed sir....
</p>
 <p>
 	then i try to create a new project....
 	i cant able to run it say 
 Cannot read property 'flags' of undefined
 error....
 i log out at 5.45
 </p>

date 11/05/20
<p>
	login at 8.10am
</p>