<!--
  Remove old nodejs
  update node -v: v12.16.2
  Exploere %APPDATA% folder
  cd C:\Users\gmano\AppData\Roaming
  rimraf -rf ./npm-cache/
  rimraf -rf ./npm/
  npm cache verify
  restart PC
  npm install -g rimraf
  npm i @angular/cli -g
  npm install -g firebase-tools
  inside project-> ng update @angular/cli @angular/core
  Also Update Angular Material-> npm update @angular/material @angular/cdk
  but typescript and zone version is mismatching
  ng version - Angular CLI: 9.1.1
  cd .\Apr2020\
  ng new checkapp
  cd .\checkapp\
  ng build
  
  Enable IVY : 
  1.tsconfig.json=> 
    "angularCompilerOptions": {
    "enableIvy": true
  2.  In the angular.json workspace

  Lighthouse: Initial Load-> 116kb, Score 99

  Install Firebase & firestore
  npm install @angular/fire firebase --save
  Inside app.module
import { AngularFireModule } from '@angular/fire';
import { AngularFirestoreModule } from '@angular/fire/firestore';
import { AngularFireStorageModule } from '@angular/fire/storage';
import { AngularFireAuthModule } from '@angular/fire/auth';

const config = {
  apiKey: 'AIzaSyBpwUMO1cdPkz0kBQGu1Omj55Ww3r_Lgfk',
  authDomain: 'myconsent-fa8d1.firebaseapp.com',
  databaseURL: 'https://myconsent-fa8d1.firebaseio.com',
  projectId: 'myconsent-fa8d1',
  storageBucket: 'myconsent-fa8d1.appspot.com',
  messagingSenderId: '1092494449686',
  appId: '1:1092494449686:web:5b847cd839ef3376316937',
  measurementId: 'G-CM042FVEF4'
};

Inside imports->
AngularFireModule.initializeApp(config),
AngularFirestoreModule, // firestore
AngularFireAuthModule, // auth
AngularFireStorageModule // storage

Firebase Deploy hosting:

firebase init
ng build --prod
firebase deploy --only hosting

Go to https://myconsent-fa8d1.firebaseapp.com/ and run lighthouse audit -
98 performance score - Meaningful paint - 1.9 s

//Install Flex and Material
1. npm i @angular/flex-layout --sav-dev
2. ng add @angular/material
Add the following in the app-shared Module
import { ReactiveFormsModule } from '@angular/forms';
import {AppMaterialModule} from './app-material/app-material.module';
import { FlexLayoutModule } from '@angular/flex-layout';

inside imports
,
    ReactiveFormsModule,
    AppMaterialModule,
    FlexLayoutModule

//Create shared/ Material Module and add the root UserService
ng g module app-material
ng g module app-shared
ng generate service UserService
//Create a Eager Loaded Module
ng generate module CustomerDashboard --routing 
// Add the routes inside the component
// Also add import { SharedModule } from '../shared/shared.module';

ng generate component customer-dashboard/CustomerDashboard

Also inside app-module
import { CustomerDashboardModule } from './customer-dashboard/customer-dashboard.module';

With no added Material Modules: 214Kb
94 performance score - Meaningful paint - 2.4 s

//Create a Map loading Module
ng generate module MapStart --routing 
cd MapStart
ng generate component mymapStart

//create services
mkdir services
cd services
ng generate service auth

//Add to firebase.json -> hosting
,
        "rewrites": [
      {
        "source": "**",
        "destination": "/index.html"
      }
    ]
Performance 79/ 3.5 sec/ 1.3Mb
//Install Mapbox-gl
npm install ngx-mapbox-gl mapbox-gl@0.54.0 --save
npm install @types/mapbox-gl@0.51.10 --save-dev
In angular.json

"styles": [
        ...
        "./node_modules/mapbox-gl/dist/mapbox-gl.css",
        "./node_modules/@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css"
      ],
In your polyfill.ts file -> (window as any).global = window;
//Inside the customer-dashboard.module.ts / map-start.module
import { NgxMapboxGLModule } from 'ngx-mapbox-gl';
Inside Imports section->
    NgxMapboxGLModule.withConfig({
      accessToken: 'pk.eyJ1IjoiZ21hbm9qaXNhYWMiLCJhIjoiY2s4NnhpMTQ5MGMxZzNlbXgzdGFvOGk3dyJ9.IOJ-O6nv_n35XqI7P3dpyA'
    })
    Eager performance 57% with 4.9 sec meaningful paint 2.1Mb initial load

    Lazy Performance 64% with 4.1 sec meaningful paint & 1.4Mb initial load

    For users logging in -> https://embed.plnkr.co/plunk/jAVScZ
    Finally when we move code to the app.module -> https://juristr.com/blog/2018/11/better-route-guard-redirects/ use auth guard
    When lazy load display spinner -> https://web.dev/route-level-code-splitting-in-angular/



//Lazy load Maps
    performance 64 with 4.1 sec meaningful paint
    1.4Mb initial load

//Create Lazy loaded modules
ng generate module ProfilePage --route profile-page --module app.module
ng generate module LearningPage --route learning-page --module app.module

//Overriding material colors
.mat-button.mat-blue {
   color: blue;
}
.mat-raised-button.mat-blue, .mat-flat-button.mat-blue{
   background-color: blue;
   color: white;
}

//Flex Learning- Identifying the overflow is the challenge
Main Container-> column
Flex Item-> has cross axis as width and the items default is 100% so we cannot set width,  so the overflow is changed by changing height not the width
fxFlex will split coloumn

Main Container-> Row
Flex Item-> has cross axis as Height and the items default is 100% so we cannot set height, so the overflow is changed by changing width not the height
fxFlex will split row 
https://stackblitz.com/edit/angular-flex-layout-align?file=app%2Fapp.component.ts
https://stackblitz.com/edit/angular-flex-layout-seed?file=app%2Fapp.component.ts
min-width is for column and min-height is for row layouts
-->
<router-outlet></router-outlet>