<!--<div  fxLayout="column" ngStyle.lt-sm="min-height: (100vh - 56px);" ngStyle.gt-xs="min-height: (100vh - 64px);">
    <div fxLayout="row">

            
    
           

    </div>
    
</div>-->

<div fxLayout="column"  >
  <div fxFlex.lt-sm="86.7vw" fxFlex.gt-xs="96.2vw" fxLayout="row"  > 
      <div fxLayout="column" ngStyle.lt-sm="background-color: green; margin-top: 56px; padding: 4%; height:100vh;" ngStyle.gt-xs="background-color: green;  margin-top: 64px; padding: 4%; height:100vh;" > 
        <p fxFlexOffset="3%" fxFlex *ngFor="let content of fillerContent" >{{content}}</p>
      </div>
  </div>
</div>