<div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign.gt-xs="space-around center"><!-- flex container-->
    <div fxFlex="40" fxLayout="column" fxLayoutGap="5%" style="margin: 3%; padding: 4.5%;">
        <div fxLayout="row" fxLayoutAlign="center">
            <button fxFlexFill mat-raised-button color="blue">
                Profile Details
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign.lt-sm="space-around center" >
            <mat-card fxFlex.lt-sm="85%" style="background-color: hotpink; width: 325px;">
                <mat-card-header>
                    <div mat-card-avatar class="avatarclass"></div>
                    <mat-card-title>{{mylocaluser?.displayName}}'s Picture</mat-card-title>
                    <mat-card-subtitle>{{mylocaluser?.Gender}} </mat-card-subtitle>
                    <mat-card-subtitle *ngIf="mylocaluser?.phoneNumber !== null">Ph:{{mylocaluser?.phoneNumber}}</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="mylocaluser?.phoneNumber === null">Ph: Add </mat-card-subtitle>
                </mat-card-header>
                <mat-spinner *ngIf="showspinner"></mat-spinner>
                <img mat-card-xl-image src="{{mylocaluser?.customphotoURL}}" (load)="dosomething()"
                    alt="Photo of a User">
                <mat-card-content>
                    Add DisplayName!{{mylocaluser?.customdisplayName}}                    
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" fxFlexOffset="0px" fxFlex="auto">Birthday </button>
                    <mat-chip color="warn" fxFlexOffset="8px" fxFlex="auto">{{mylocaluser?.BirthDate}}</mat-chip>
                    <button mat-raised-button color="warn" fxFlexOffset="8px" fxFlex="auto">Anniversary</button>
                    <mat-chip color="warn" fxFlexOffset="0px" fxFlex="auto">{{mylocaluser?.AnniversaryDate}}</mat-chip>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div fxFlex="40"  fxLayout="column"  fxLayoutGap="5%" style="margin: 3%; padding: 4.5%;">
        <div fxLayout="row" fxLayoutAlign="center">
            <button fxFlexFill mat-raised-button color="blue">
                Update Details
            </button> 
        </div>
        <div fxLayout="row" fxLayoutAlign.lt-sm="space-around center">
            <mat-card fxFlex.lt-sm="85%" style="background-color: hotpink; width: 325px;">
                <mat-card-content fxLayout="column" fxLayoutGap="14%"  >
                        <button mat-raised-button color="primary" (click)="openDialogPersonal()">
                            Personal Details
                        </button>
                        <button mat-raised-button color="primary" (click)="openDialogPicture()">
                            Picture
                        </button>
                        <button mat-raised-button color="primary" (click)="openDialogDates()">
                            Anniversary/Birthday
                        </button>
                        <button mat-raised-button color="primary" (click)="openDialogFamily()">
                            Close Family
                        </button>
                        <button mat-raised-button color="primary" (click)="openDialogGreeting()">
                            Voice Greeting
                        </button>
                        <button mat-raised-button color="primary" (click)="NextPage()">
                            My Saved Gifts
                        </button>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>