<div fxFlex.lt-sm="87vw" fxFlex.gt-xs="60vw" fxLayout="row" style="background-color: blue;">
  <div fxLayout="column" fxFlex="grow" ngStyle.lt-sm="background-color: red;height: calc(100vh - 56px);" ngStyle.gt-xs="background-color: red;height: calc(100vh - 64px);" > 
      <div fxFlex="15" fxFlexOffset="2%" >
        <div fxFlex.lt-sm="87vw" fxFlex.gt-xs="60vw" fxLayout="row">
          <div fxLayout="column" fxFlex="grow" fxLayoutAlign="center center" > 
            <mat-card  ngStyle.lt-sm="min-width:80vw;"  ngStyle.gt-xs="min-width:40vw;  background-color:orange;" > 
              <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="center center" >
                <button  mat-raised-button color="warn"> Add Partners</button>
              </mat-card-content>
            </mat-card>
          </div>  
        </div>
      </div>
      <mgl-map fxFlexAlign="center"   fxFlexOffset="2%"
      [style]="'mapbox://styles/mapbox/dark-v9'"
      [zoom]="[13]"
      [center]="[mylng, mylat]"
      [cursorStyle]="cursorStyle"
      (load)="map = $event"
      (click)="onClick(map = $event)"
      >
      <mgl-control mglNavigation position="bottom-left"></mgl-control>
      <mgl-control mglGeolocate position="bottom-left"></mgl-control>

      <mgl-marker [lngLat]="[mylng, mylat]" [draggable]="false"></mgl-marker>
        <mgl-control
        position="top-right">
        <form [formGroup]="LocationForm" (ngSubmit)="Searchdb(LocationForm )">
          <mat-form-field color="blue">
            <input matInput     placeholder="Enter Pincode" value="629004">
          </mat-form-field>
          <button
          mat-fab
          color="primary"
          type="submit" [disabled]="!LocationForm.valid"
          >
          Search
          </button>
        </form>

        </mgl-control>
        <mgl-geojson-source
          id="symbols-source"
        >
          <mgl-feature
            *ngFor="let geometry of geometries"
            [geometry]="geometry"
          ></mgl-feature>
        </mgl-geojson-source>
        <mgl-layer
          id="symbols"
          type="symbol"
          source="symbols-source"
          [layout]="{
            'icon-image': 'rocket-15'
          }"

          (mouseEnter)="cursorStyle = 'pointer'"
          (mouseLeave)="cursorStyle = ''"
        >
        </mgl-layer>

      </mgl-map>
      <div fxFlex="20">
        <div fxFlex.lt-sm="87vw" fxFlex.gt-xs="60vw" fxLayout="row">
          <div fxLayout="column" fxFlex="grow" fxLayoutAlign="center center" > 
            <mat-card  ngStyle.lt-sm="height:10vh; min-width:80vw;"  ngStyle.gt-xs="height:10vh; min-width:40vw;  background-color:orange;" > 
              <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="space-between center" >
                <button  mat-raised-button color="warn"> Ok</button>
                <button  mat-raised-button color="warn">Cancel</button>
              </mat-card-content>
            </mat-card>
          </div>  
        </div>
      </div>
    </div>
</div>
